#uploadArea{
  width: 40rem;
  height: 30rem;
  background-color: #cab763;
  /* box-shadow: 12px 0 15px -4px #ffecb3, 12px 0 15px -4px #ffecb3 inset; */
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}

#cloud-image{
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fileField{
  background-color: rgb(109, 105, 105);
  color: rgb(255, 255, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  width: 90%;
}

#fileField::file-selector-button {
  background-color: rgb(70, 68, 68);
  color: rgb(255, 255, 255);
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 30px;
}

/* Title */
#title {
  color: white;
  text-align: center;
}

h1{
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 1px #262424
}

/* Text in Upload Card */
h2 {
  color:#000000;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
 }

 /* File message */
 #fail {
  color:#ec2323;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
 }

 #success {
  color:#00FFA6;
  text-align: center;
  font-size: 20px;
  font-weight
  : bold;
 }

 #filena {
  color:#00FFA6;
  text-align: center;
  font-size: 15px;
  font-weight
  : bold;

 }
/*Reload Button */
 #rbutton {
  background-color: Transparent;
  border: none;
  top:98%;
  left:65%;
  width:40px;
  height:40px;
  position: absolute;
  z-index: 2;
}

#button:hover {
  background: lightsalmon;
}




